.title-slide {
  background-image: url(../img/title_slide_pic.png);
  background-size: 20%; /* was cover */
  background-position: 95% 70%;
}
/* images to consider */
/* crane truck: <a href="/detail/284796/crane"><img src="https://openclipart.org/download/284796/crane.svg" /></a>
